<!-- edit.html -->
<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/queue.css') }}">
   </head>
   <body>
      <p>
         <center><h1>Matchmaking</h1></center>
         <br><br><br>
         <h3>Match</h3>
         <form action = "http://localhost:5000/queue/create_match" method = "GET">
            <input id="submit" type = "submit" value = "create match" />
         </form>
         
         <div class="float-parent-element">
            <div class="float-child-element">
              <div class="red">
               <table  id="myTable" border = 1>
                  <p><center><b> Red team </b></center></p>
               {% for el in red_team %}
                    <tr>
                        <td> {{ el["name"] }} </td>
                        <td> {{ el["elo"] }} </td>
                        <td> {{ el["position"] }} </td>
                    </tr>
               {% endfor %}
            </table>
            </div>
            </div>
            <div class="float-child-element">
              <div class="blue"><table  id="myTable" border = 1>
               <p><center><b> Blue team </b></center></p>
               {% for el in blue_team %}
                    <tr>
                        <td> {{ el["name"] }} </td>
                        <td> {{ el["elo"] }} </td>
                        <td> {{ el["position"] }} </td>
                    </tr>
               {% endfor %}
            </table></div>
            </div>
          </div>
         </p>


          <br><br><br><br><br><br><br><br><br>
          <h3>Parties wainting for a match</h3>

          <form action = "http://localhost:5000/queue/create_party" method = "GET">
            <input id="submit" type = "submit" value = "Create_parties" />
         </form>

          <table id="myTable" border = 1 style="background-color:rgba(91, 5, 141, 0.616); width:60%" >
            {% for ttl in heading %}
                <td><center><b> {{ ttl }} </b></center></td> 
            {% endfor %}
            {% for el in parties %}

            <tr>

               {% for k, v in el.items() %}
                  {% if k == 'summoner_name' %}
                     <td > <center> <a href="http://localhost:5000/player/{{v}}">{{ v }}</a> <center> </td>
                  {%else%}
                     <td> <center> {{ v }} </center> </td>
                  {%endif%}

               {% endfor %}
            </tr>
            {% endfor %}
            
        </table>
<br><br><br><br><br>
<h3>Players on queue</h3>
<form action = "http://localhost:5000/queue/add_all" method = "GET">
    <input id="submit" type = "submit" value = "Add all" />
 </form>

 <form action = "http://localhost:5000/queue/remove_all" method = "GET">
    <input id="submit" type = "submit" value = "Remove all" />
 </form>
<!---
<form action = "http://localhost:5000/queue/add_one/" method = "POST">
    <p><label>Player name</label> <input type = "text" name = "player_name" /></p>
    
       <input id="submit" type = "submit" value = "Add player" />
 </form>
-->
 
<p>
   <table  id="myTable" border = 1 style="background-color:rgba(13, 143, 30, 0.473); width:60%">
    {% for ttl in heading %}
        <td><center><b> {{ ttl }} </b></center></td> 
    {%endfor%}
   {% for el in player_queue %}
      <tr>
         <td> {{ el["name"] }} </td>
         <td> {{ el["elo"] }} </td>
         <td> {{ el["position"] }} </td>
      </tr>
   {% endfor %}
</table>
</p>

   </body>
</html>